.git
.gitignore
**/.cache
**/build
**/dist
**/*.o
**/*.lo
**/*.la
**/*.a
**/*.so
**/*.dll
**/*.dylib
**/*.ninja
**/.ninja_deps
**/.ninja_log
**/node_modules
**/__pycache__
**/*.pyc
**/*.swp
html/
docs/
recordings/
plugins/recordings/

